body {
  font-family: 'Roboto', sans-serif;
  background-color: #EFEFEF;
  /* color: #757575; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.bg-color {
  background-color: #EFEFEF;
}

.waterSupply {
  font-size: 15px;
}
.border {
  border:1px solid green;
}

div.map_1 img {
  position: relative;
  position: absolute;
}

div.map_1 div {
  position: relative;
  position: absolute;
  font-size: 10px;
  color: #000;
}

.td-bg {
  background-color: beige;
}

.color-black {
  color: black!important;
}

.textShadow {
  text-shadow: 1px 1px 12px black;
}

.mleft-10 {
  margin-left: 10px!important;
}
.mtop-10 {
  margin-top: 10px;
}

.mtop-20 {
  margin-top: 20px;
}
.mtop-80 {
  margin-top: 80px;
}
.pBottom-20 {
  padding-bottom: 20px;
}

.textOnBG {
  color: #757575;
  color: #424242;
}

.map-fixer {
  width: 500px;
}

.map-container {
  height: 380px;
  width: 350px;
  
}

.logo-text_first {
  margin-left: 20px;
  margin-top: -6px;
}

.logo-text_second {
  margin-top: 14px;
  margin-left: -80px;
  color: #cddc39;
  font-size: 16px;

}

.main {
    flex: 1 0 auto;
  }

  .username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.card-content-fix {
  padding: 10px !important;
}


.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #33691E!important;
  outline: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: #33691E!important;
  color: white!important;
}

.tabs .indicator {
  background-color: #2BBBAD;
}

.tAr {
  text-align: right!important;
}

.active {
  /* background-color: #fff!important; */
}


#umanLogo {
  display: inline;
  height: 70px;
}


.mdl-card:hover {
  
  
}


.mdl-expansion {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  /** Just for demo **/
  width: 700px;
  box-sizing: border-box;
}
.mdl-expansion__summary {
  padding-left: 24px;
  padding-right: 24px;
  height: 48px;
  display: flex;
  outline: none;
}
.mdl-expansion__summary::-webkit-details-marker {
  display: none;
}
.mdl-expansion__summary::after {
  font-family: 'Material Icons';
  content: '\e313';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  display: inline-flex;
  flex-direction: column;
  user-select: none;
  justify-content: center;
  transition: transform 200ms, color 200ms;
  margin-left: auto;
  color: rgba(0, 0, 0, 0.38);
}
.mdl-expansion__summary:focus {
  /* Grey 200 */
  background-color: #EEEEEE;
}
.mdl-expansion__summary:focus::after {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-expansion__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9375rem;
  font-weight: 500;
  flex-basis: 30%;
  margin-right: 16px;
}
.mdl-expansion__subheader {
  font-size: .75rem;
  color: rgba(0, 0, 0, 0.54);
}
.mdl-expansion__secondary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9375rem;
  font-weight: 500;
  flex-basis: 30%;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 16px;
}
.mdl-expansion__content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.mdl-expansion__content + .mdl-expansion__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-expansion__actions {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 16px;
  padding-bottom: 16px;
}
.mdl-expansion__action {
  margin-right: 8px;
}
.mdl-expansion[open] .mdl-expansion__summary::after {
  transform: rotate(180deg);
}
