body {
  font-family: 'Roboto', sans-serif;
  background-color: #EFEFEF;
  /* color: #757575; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.waterSupply {
  font-size: 15px;
}
.border {
  border:1px solid green;
}

div.map_1 img {
  position: relative;
  position: absolute;
}

div.map_1 div {
  position: relative;
  position: absolute;
  font-size: 10px;
  color: #000;
}

.color-black {
  color: black!important;
}

.textShadow {
  text-shadow: 1px 1px 12px black;
}

.mleft-10 {
  margin-left: 10px!important;
}
.mtop-10 {
  margin-top: 10px;
}

.mtop-20 {
  margin-top: 20px;
}
.mtop-80 {
  margin-top: 80px;
}
.pBottom-20 {
  padding-bottom: 20px;
}

.textOnBG {
  color: #757575;
  color: #424242;
}

.map-fixer {
  width: 500px;
}

.map-container {
  height: 380px;
  width: 350px;
  
}

.logo-text_first {
  margin-left: 20px;
  margin-top: -6px;
}

.logo-text_second {
  margin-top: 14px;
  margin-left: -80px;
  color: #cddc39;
  font-size: 16px;

}

.main {
    flex: 1 0 auto;
  }

  .username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.card-content-fix {
  padding: 10px !important;
}